*{
    box-sizing: border-box;
    margin: 0;
}

:root{

    --h1-font: Britannic;
    --h2-font: Segoe UI;

    /* dark theme */

    --dark-background: #1b2430;
    --dark-primary-text: #85139f;
    --dark-secondary-text: #b2b7ca;
    --dark-paragraph: #d6d5a8;

    /* light theme */

    --ligh-background:#eff5f5;
    --light-primary-text: #497174;
    --light-secondary-text: #0f244c;
    --light-paragraph: #51557e;
}

body{
    background-color: var(--dark-background);
    margin: 0 5%;
}

nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2.5vh;
    padding-right: 10%;

}

nav img {
    width: 75px;
    justify-self: flex-start;
}

nav ul {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-family: var(--h2-font);
}

li{
    text-decoration: none;
    color: var(--dark-secondary-text);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

li:hover{
    color: var(--dark-primary-text);
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25vh 0;
}

.container div {
    text-align: center;
}

.container div h1 {
    font-family: var(--h1-font);
    margin: 5px;
    font-size:65px;
    color: var(--dark-primary-text);
}

.container div h3 {
    margin-top: 5vh;
    font-family: var(--h2-font);
    font-size: 25px;
    color: var(--dark-secondary-text);
    line-height: 7.5vh;
}

hr {
    width: 65%;
    margin: 25vh auto;
    height: 1px;
    border: none;
    background-color: var(--dark-secondary-text);
}

.container .sub_container h4 {
    color: var(--dark-secondary-text);
    margin: 2vh;
    line-height: 5vh;
}

.container .sub_container h4 a {
    color: #5a0f6b;
    text-decoration: none;
    transition: ALL 300ms ease-in-out;
}

.container .sub_container h4 a:hover {
    color: var(--dark-paragraph);
}

.light_background {
    background-color: var(--ligh-background);
}

.light_primary {
    color: var(--light-primary-text);
}

.light_secondary {
    color: var(--light-secondary-text);
}